html {
  background-color: #e4e9fd;
  background-image: -webkit-linear-gradient(65deg, #a683e3 50%, #e4e9fd 50%);
  min-height: 1000px;
  font-family: "helvetica neue";
}
body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 95vh;
}
h1 {
  background-color: #a683e3;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
  margin: 50px auto;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 1em;
  padding-top: 10px;
}
.navbar li {
  list-style-type: none;
}
.navbar a {
  text-decoration: none;
  font-size: 15px;
}
.navbar i {
  margin-right: 7px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer {
  flex: 0 0 auto;
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.box {
  background-color: white;
  width: 400px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin: 10px auto;
}
form {
  text-align: center;
}
input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200px;
  width: 313px;
  outline: none;
}
input:focus {
  border-bottom: 3px solid #a683e3;
}
.item {
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  margin-bottom: 2px;
  font-size: 20px;
}
input[type="checkbox"] {
  margin: 20px;
  text-align: center;
}
.todo {
  font-size: 20px;
  text-align: center;
}

.striketodo {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}
button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  border-width: 0;
  margin-top: 10px;
}
